!!!
%html{"data-framework" => "angularjs", :lang => "en", "ng-app" => "emailer"}
  %head
    %title Emailer
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag :emailer
    = csrf_meta_tags


    :css
      body { padding-top: 70px; }
      .nav, .pagination, .carousel a { cursor: pointer; }
      .modal {
        display: block;
        height: 0;
        overflow: visible;
      }
      .hide {
        display: none;
      }
      .modal-body:before,
      .modal-body:after {
        display: table;
        content: " ";
      }
      .modal-header:before,
      .modal-header:after {
        display: table;
        content: " ";
      }
  %body
    %p.notice= notice
    %p.alert= alert

    %ng-view
    = javascript_include_tag :emailer
